*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #181818;
}

header{
    text-align: center;
    height: 5rem;
}

h1{
    color: white;
}

.main-container{
    width: 80%;
    border: 1px white solid;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    justify-content: space-evenly;
    color: white;
}

.box-1, .box-2{
    width: 25rem;
    position: relative;
    height: 17rem;
    display: flex;
    background-color: darkgray;
    border-radius: 0.5rem;
    flex-direction: row;
    align-items: center;
}

.box-2 p, .box-1 p{
    margin: 0 auto;
}

.box-2 a{
    border: 1px red solid;
}