html{
    font-size: 16px;
    font-family: 'Hind Vadodara', sans-serif;
}
*{
    margin:0;
    padding: 0;
}
body {
    margin: 0px 0px 0px 0px;
  }

header{
    height: 4rem;
    border: solid 1px red;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;

}

header img{
    margin: 0.5rem 0rem 0.5rem 1.5rem;
    height: 70%;
    float: left;
}

header h3{
    text-transform: uppercase;
    display: inline-block;
    border: solid 1px red;
}

header ul{
    float: right;
    display: flex;
    gap: 1rem;
    height: 100%;
    margin: 0 1.5rem 0 auto;
    align-items: center;
    padding: 0;
    border: solid 1px red;
}

header li{
    display: inline-block;
    border: solid 1px red;
    margin: auto;
    
}

header b{
    font-weight: 100;
}

.top{
    background-color: lightgray;
    padding: 2rem 1.5rem;
    width: 100%;
    display: flex;

}

.top img{
    width: 60%;
    display: inline-block;
    border: solid 1px red;
    margin-right: 1.5rem;
}

div.aside-text{
    width: 30%;
    display: inline-block;
    border: solid 1px red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.aside-text h4{
    background-color: darkslategrey;
    padding: 0.5rem 0;
    color: white;
    font-weight: 50;
    text-align: center;
    width: 100%;
    border-radius: 2px;
}

.aside-text h3{
    font-weight: 100;
}
