html{
    font-size: 16px;
    font-family: 'Hind Vadodara', sans-serif;
}
body {
    margin: 0px 0px 0px 0px;
  }

header{
    height: 4rem;
    border: solid 1px red;
    width: 100%;
    position: sticky;
}

header img{
    margin: 0.5rem 0rem 0.5rem 1.5rem;
    height: 70%;
    float: left;
}

header h3{
    text-transform: uppercase;
    display: inline-block;
}

header ul{
    float: right;
    margin-right: 1.5rem;
    height: 100%;

}

header li{
    display: flex;
    display: inline-block;
    margin-left: 1.25rem;
    
}

header b{
    font-weight: 100;
}

.top{
    background-color: lightgray;
    padding: 2rem 1.5rem;
    display: flex;

}

.top img{
    width: 60%;
    display: inline-block;
    border: solid 1px red;
    margin-right: 1.5rem;
}

.aside-text{
    width: 30%;
    display: inline-block;
    border: solid 1px red;
}

.aside-text h4{
    background-color: darkslategrey;
    padding: 0.5rem 0;
    text-align: center;
    color: white;
    font-weight: 50;
}

.aside-text h1{
    font-weight: 700;
}
